s2axis2-examples/src/main/resources/META-INF/EchoFormCustomWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://ex01.examples.axis2.remoting.seasar.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ex01.examples.axis2.remoting.seasar.org">
    <wsdl:types>
        <xs:schema xmlns:ns="http://ex01.examples.axis2.remoting.seasar.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ex01.examples.axis2.remoting.seasar.org">
            <xs:element name="echo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoRequest">
        <wsdl:part name="parameters" element="ns0:echo"/>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="ns0:echoResponse"/>
    </wsdl:message>
    <wsdl:portType name="EchoFormCustomWSDLPortType">
        <wsdl:operation name="echo">
            <wsdl:input message="ns0:echoRequest" wsaw:Action="urn:echo"/>
            <wsdl:output message="ns0:echoResponse" wsaw:Action="urn:echoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoFormCustomWSDLSOAP11Binding" type="ns0:EchoFormCustomWSDLPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echo">
            <soap:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EchoFormCustomWSDLSOAP12Binding" type="ns0:EchoFormCustomWSDLPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echo">
            <soap12:operation soapAction="urn:echo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EchoFormCustomWSDLHttpBinding" type="ns0:EchoFormCustomWSDLPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="echo">
            <http:operation location="EchoFormCustomWSDL/echo"/>
            <wsdl:input>
                <mime:content type="text/xml" part="echo"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="echo"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoFormCustomWSDL">
        <wsdl:port name="EchoFormCustomWSDLSOAP11port_http" binding="ns0:EchoFormCustomWSDLSOAP11Binding">
            <soap:address location="http://localhost:8080/s2axis2-examples/services/EchoFormCustomWSDL"/>
        </wsdl:port>
        <wsdl:port name="EchoFormCustomWSDLSOAP12port_http" binding="ns0:EchoFormCustomWSDLSOAP12Binding">
            <soap12:address location="http://localhost:8080/s2axis2-examples/services/EchoFormCustomWSDL"/>
        </wsdl:port>
        <wsdl:port name="EchoFormCustomWSDLHttpport" binding="ns0:EchoFormCustomWSDLHttpBinding">
            <http:address location="http://localhost:8088/s2axis2-examples/services/EchoFormCustomWSDL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
