s2axis2/src/test/resources/META-INF/WSDLServiceTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://mock.axis2.remoting.seasar.org" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://mock.axis2.remoting.seasar.org">
    <wsdl:types>
        <xs:schema xmlns:ns="http://mock.axis2.remoting.seasar.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://mock.axis2.remoting.seasar.org">
            <xs:element name="method2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="method3">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="arg2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="method2Request">
        <wsdl:part name="parameters" element="ns0:method2"/>
    </wsdl:message>
    <wsdl:message name="method1Request"/>
    <wsdl:message name="method3Request">
        <wsdl:part name="parameters" element="ns0:method3"/>
    </wsdl:message>
    <wsdl:portType name="WSDLServiceTestPortType">
        <wsdl:operation name="method2">
            <wsdl:input message="ns0:method2Request" wsaw:Action="urn:method2"/>
        </wsdl:operation>
        <wsdl:operation name="method1">
            <wsdl:input message="ns0:method1Request" wsaw:Action="urn:method1"/>
        </wsdl:operation>
        <wsdl:operation name="method3">
            <wsdl:input message="ns0:method3Request" wsaw:Action="urn:method3"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSDLServiceTestSOAP11Binding" type="ns0:WSDLServiceTestPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="method2">
            <soap:operation soapAction="urn:method2" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method1">
            <soap:operation soapAction="urn:method1" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method3">
            <soap:operation soapAction="urn:method3" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDLServiceTestSOAP12Binding" type="ns0:WSDLServiceTestPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="method2">
            <soap12:operation soapAction="urn:method2" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method1">
            <soap12:operation soapAction="urn:method1" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method3">
            <soap12:operation soapAction="urn:method3" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WSDLServiceTestHttpBinding" type="ns0:WSDLServiceTestPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="method2">
            <http:operation location="WSDLServiceTest/method2"/>
            <wsdl:input>
                <mime:content type="text/xml" part="method2"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method1">
            <http:operation location="WSDLServiceTest/method1"/>
            <wsdl:input>
                <mime:content type="text/xml" part="method1"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="method3">
            <http:operation location="WSDLServiceTest/method3"/>
            <wsdl:input>
                <mime:content type="text/xml" part="method3"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WSDLServiceTest">
        <wsdl:port name="WSDLServiceTestSOAP11port_http" binding="ns0:WSDLServiceTestSOAP11Binding">
            <soap:address location="http://localhost:8080/s2axis2-examples/services/WSDLServiceTest"/>
        </wsdl:port>
        <wsdl:port name="WSDLServiceTestSOAP12port_http" binding="ns0:WSDLServiceTestSOAP12Binding">
            <soap12:address location="http://localhost:8080/s2axis2-examples/services/WSDLServiceTest"/>
        </wsdl:port>
        <wsdl:port name="WSDLServiceTestHttpport" binding="ns0:WSDLServiceTestHttpBinding">
            <http:address location="http://localhost:8080/s2axis2-examples/services/WSDLServiceTest"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
